.card{
    width:100%;
    overflow: hidden;
    padding: 25px;
}

.card .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

/* Image */

.card .img{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.card .img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.card .details{
    width: 100%;
    text-align: center;

}

.card .details .title{
    font-size: 1.2rem;
    
}
.card .details .artist{
    color: #bbb;
}

.card .progress{
    margin-top: 15px;
}

.card .progress input{
    width: 100%;
    height: 4px;
}

.card .timer{
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #bbb;
}

.card .controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.card .controls #prev,
.card .controls #next{
    font-size: 2.5rem;
}

.card .controls .play{
    width: 3.2rem;
    height: 3.2rem;
    background: linear-gradient(#fff 0%,#cecaca 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card .controls .play::before{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: inherit !important;
    background: linear-gradient(#8dadff,#6e72a3 100%);
}
.card .controls .play i{
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
    position: absolute;
}

.card .controls .volume{
    width: 100%;
    height: 50px;
    background: #333;
    position: absolute;
    visibility: hidden;
    bottom: -10% !important;
    left: 0;
    border-radius: 10px;
    border: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    z-index: 5;
    transition: bottom 0.2s linear;
}

.card .controls .volume.show{
    bottom: 0;
    visibility: visible;
}

.card .controls .volume input{
    width: 100%;
    height: 4px;

}